tqdm==4.62.2
nltk==3.6.2
setuptools==56.0.0
matplotlib==3.4.3
numpy==1.21.2
Pillow==9.0.1
PyYAML==6.0
altair==4.2.0
asposestorage==1.0.2
extra_streamlit_components==0.1.53
htbuilder==0.6.0
hyperopt==0.2.7
lightgbm==3.3.2
mlflow==1.24.0
pandas==1.4.1
plotly==5.6.0
scikit_learn==1.0.2
seaborn==0.11.2
statsmodels==0.13.2
streamlit==1.7.0
streamlit_authenticator==0.1.2
streamlit_lottie==0.0.3
streamlit_option_menu==0.3.2
textblob==0.17.1
tsmoothie==1.0.4
tweepy==4.7.0
