asposestorage==1.0.2
azureml==0.2.7
azureml_mlflow==1.39.0
cloudpickle==2.0.0
fbprophet==0.7.1
hyperopt==0.2.5
lightgbm==3.3.1
matplotlib==3.5.0
minio==7.1.4
mlflow==1.24.0
mlflow_skinny==1.24.0
numpy==1.21.2
pandas==1.3.2
Pillow==9.0.1
plotly==5.6.0
PyYAML==6.0
requests==2.27.1
scikit_learn==1.0.2
seaborn==0.11.2
setuptools==58.0.4
SQLAlchemy==1.4.31
statsmodels==0.13.1
streamlit==1.7.0
streamlit_authenticator==0.1.1
streamlit_lottie==0.0.3
tqdm==4.62.3
tsmoothie==1.0.4
xgboost==1.5.2
